@font-face {
    font-family: 'ThirstyRough';
    src: url('../fonts/thirstyroughregular-webfont.woff2') format('woff2'),
         url('../fonts/thirstyroughregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
